.navBar{
    display: flex;
    background-color: rgba(255, 255, 255, 0.945);
    height: 60px;
    align-items: flex-end;
    color:white;
    justify-content: space-between;
}

.div{
    width: 150px;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    list-style: none;
    width: 600px;
    gap:100px;
}

.menuTitulo{
    font-weight: bold;
    color: rgb(26, 24, 24);
}

.menuTitulo:hover{
    transition: 1.8s;
    color: rgb(58, 58, 58);
}

li{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

li:hover{
    color:rgb(68, 68, 68);
}