.divBody{
    background-color: rgb(243, 243, 243);
}

.divMain{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.divTitle{
    width: 60%;
    margin: 50px 30px 15px;
}

.divText{
    margin: 0 38px;
    width: 70%;
    text-align: justify;
}

