.divBody{
    background-color: rgb(0, 0, 0);
}

.divMain{
    width: 90%;
    margin: 40px auto;
    height: auto;
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.divYouTube{
    width: 850px;
    height: 550px;
    background-color: white;
    margin: 0 auto
}

.tituloYouTube{
    margin: 10px 40px;
}

.textYouTube{
    margin: 10px 40px;
}

.videoYouTube{
    margin: 10px 40px;
}