/* CSS DO MÓDULO QUEM SOU EU */

.divMain{
    width: 90%;
    margin:0 auto;

}

.divTitle{
    width: 40%;
    margin: 0 30px 15px;
}

.divText{
    margin: 0 38px;
    width: 80%;
    text-align: justify;
}

h1{
    font-size: 42px;
    font-weight: bold;
    
}

p{
    font-size: 23px;
    margin: 15px 0;
    line-height: 130%;
    
}