/* CSS DO MÓDULO QUEM SOU EU */

.divMain{
    width: 90%;
    margin:0 auto;
}

.divTitle{
    width: 60%;
    margin: 0 30px 15px;
}

.divText{
    margin: 0 38px;
    width: 70%;
    text-align: justify;
}

h1{
    font-size: 42px;
    font-weight: bold;
    
}

p{
    font-size: 23px;
    margin: 15px 0 35px;
    line-height: 130%;
    color: rgb(57, 57, 57);
    
}