.slide1{
    background-color: rgb(255, 255, 255);
    margin: 40px 0 0 0;
    height: 550px;
    gap:100px;
    display: flex;
    flex-direction: column;
}



.divImage{
    background-image:url('../helpers/img/dunas.png');
    background-size: cover;
    width:100%;
    height:600px;

    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.image{
    width: 93%;
    height: auto;
    object-fit: cover;
}

.divLeft{
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2Titulo{
    margin:15px 0;
    color: rgba(5, 14, 32, 0.858);
    font-weight: bold;
    font-size: 35px;
    width: 700px;
    text-align: center;
}

    .buttao{
        width: 220px;
        height: 50px;
        background-color: rgba(26, 23, 22, 0.859);
        border:solid 1px rgb(9, 1, 1);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: white;
        font-size: 22px;
    }

    .buttao:hover{
        transition: 2.5s;
        background-color: rgba(80, 26, 4, 0.859);
        color: rgb(194, 187, 187);
    }

.divRight{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .divTitulo{
        width: 500px;
    }


    h1{
        
    }
    
    .titulo{
        font-size: 50px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .tituloName{
        margin: 0 40px ;
        font-size: 50px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

.divMyImage{
    height: 300px;
    width: 300px;
    margin: 0;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
